.container {
  padding-top: 3em;
}

h3 {
  text-align: center;
  margin-bottom: 1.5em;
}
span.logo {
  background-image:url('/img/logo.png');
  display:block;
  width: 3.5rem;
  height: 3.5rem;
  background-size:contain;
  display:inline-block;
  background-repeat:no-repeat;
  vertical-align: middle;
}

nav ul {
  width: 100%;
  display: flex;
  flex-direction: row;
}
nav ul li {
  flex-grow: 1;
  text-align: center;
  background-color: #e9ecef;

}
nav ul li a {
  color: #2c3e50;
}

.nav-pills .nav-link.active {
  background-color: #2c3e50;
}

.jumbotron {
  margin-top: 1.5em ;
  background-image: url('../img/carousel-dark.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  color: white;
  text-shadow: 1px 1px black;
  padding-left: 5em;
  padding-right: 5em;
}

.text-center {
  text-align: center;
}

.row {
  margin: auto;
}
.col {
  margin: auto;
}

.col h1 {
  margin-bottom: 1em;
}

.footer {
  padding-top: 5em;
  margin: auto;
  text-align: center;
}

.row.feature-contact {
  padding-bottom: 1em;
  font-size: 150%;
  background-color: #2c3e50;
  border-radius: 2em;
  padding: 0.5em;
  margin-top: 2em;
}
.feature-contact a {
  color: white;
}

.row {
  padding-bottom: 3em;
}
.row h1 {
  margin-top: 5em;
}
.row img {
  border-radius: 2em;
  box-shadow: 2px 2px rgba(0,0,0,0.4);
  border: 1px solid rgba(0,0,0,0.1);
}

.form-group {
  border: 2px solid rgba(0,0,0,0.2);
  padding: 2em;
  border-radius: 2em;
}
.form-group .form-control {
  padding: 0.5em;
  margin: 1.5em auto;
}

.form-group .btn {
  width: 75%;
  min-height: 2em;
}
